###Imports

In [1]:
#pandas version '2.2.2'
import pandas as pd

In [2]:
try:
    #google colab only - put data in a folder "/content/drive/MyDrive/capstone_data/"
    from google.colab import drive
    colab = 1
    print("Running in Google Colab, load data to \"/content/drive/MyDrive/capstone_data/\" to import it.")
    drive.mount('/content/drive')
except:
    colab = 0
    print("Load data to \"/capstone_data/\" to import it.")

Load data to "/capstone_data/" to import it.

In [3]:
if colab == 1:
    df_euse = pd.read_csv("/content/drive/MyDrive/capstone_data/use_all_btu.csv")
    df_msn_codes = pd.read_csv("/content/drive/MyDrive/capstone_data/Codes_and_Descriptions.csv")
elif colab == 0:
    df_euse = pd.read_csv("capstone_data/use_all_btu.csv")
    df_msn_codes = pd.read_csv("capstone_data/Codes_and_Descriptions.csv")

In [4]:
print(df_euse.describe())

               1960          1961          1962          1963          1964  \
count  1.144700e+04  1.144700e+04  1.144700e+04  1.144700e+04  1.144700e+04
mean   9.962268e+04  1.011178e+05  1.056051e+05  1.097824e+05  1.142243e+05
std    9.951270e+05  1.009306e+06  1.053619e+06  1.095018e+06  1.140634e+06
min   -1.360010e+05 -1.402480e+05 -1.441310e+05 -1.475590e+05 -1.547940e+05
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    1.465000e+03  1.427000e+03  1.514000e+03  1.545000e+03  1.670000e+03
75%    2.246700e+04  2.273100e+04  2.374700e+04  2.474900e+04  2.558250e+04
max    4.393528e+07  4.455770e+07  4.654313e+07  4.840968e+07  5.049417e+07

               1965          1966          1967          1968          1969  \
count  1.144700e+04  1.144700e+04  1.144700e+04  1.144700e+04  1.144700e+04
mean   1.189127e+05  1.254902e+05  1.295349e+05  1.376566e+05  1.444052e+05
std    1.186977e+06  1.252849e+06  1.292601e+06  1.370568e+06  1.436626e+06
min   -1.657200e+05 -1.678720e+05 -1.389200e+05 -1.694940e+05 -1.933400e+05
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    1.787000e+03  1.855000e+03  1.871000e+03  1.936000e+03  2.015000e+03
75%    2.594750e+04  2.788000e+04  2.889500e+04  3.061650e+04  3.257400e+04
max    5.257756e+07  5.557343e+07  5.733551e+07  6.082070e+07  6.379145e+07

       ...          2014          2015          2016          2017  \
count  ...  1.513900e+04  1.560700e+04  1.586700e+04  1.586700e+04
mean   ...  1.677420e+05  1.625007e+05  1.597979e+05  1.599265e+05
std    ...  1.798516e+06  1.764382e+06  1.747765e+06  1.747431e+06
min    ... -6.130800e+05 -5.513670e+05 -5.559180e+05 -5.582120e+05
25%    ...  0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
50%    ...  1.067000e+03  8.560000e+02  8.000000e+02  8.160000e+02
75%    ...  2.605200e+04  2.372000e+04  2.180750e+04  2.211150e+04
max    ...  9.532221e+07  9.446288e+07  9.407289e+07  9.389285e+07

               2018          2019          2020          2021          2022  \
count  1.602300e+04  1.602300e+04  1.602300e+04  1.659600e+04  1.659600e+04
mean   1.640255e+05  1.631372e+05  1.499742e+05  1.532184e+05  1.555969e+05
std    1.804605e+06  1.795630e+06  1.646925e+06  1.709485e+06  1.737192e+06
min   -5.103780e+05 -6.559450e+05 -7.005300e+05 -7.566390e+05 -7.195080e+05
25%    1.725000e+00  1.000000e+00  1.000000e+00  4.000000e-01  5.000000e-01
50%    8.070000e+02  8.160000e+02  8.080000e+02  7.820000e+02  8.255000e+02
75%    2.212700e+04  2.241300e+04  2.026700e+04  1.904975e+04  1.938375e+04
max    9.739198e+07  9.656478e+07  8.885766e+07  9.335030e+07  9.483156e+07

               2023
count  1.659600e+04
mean   1.547417e+05
std    1.725672e+06
min   -7.352160e+05
25%    1.000000e+00
50%    8.415000e+02
75%    1.921900e+04
max    9.355749e+07

[8 rows x 64 columns]

In [5]:
print(df_msn_codes.head())
print(df_msn_codes.info())
print(df_msn_codes.describe())

     MSN                                        Description  \
0  ABICB  Aviation gasoline blending components consumed...
1  ABICP  Aviation gasoline blending components consumed...
2  ARICB  Asphalt and road oil consumed by the industria...
3  ARICD  Asphalt and road oil price in the industrial s...
4  ARICP  Asphalt and road oil consumed by the industria...

                      Unit
0              Billion Btu
1         Thousand barrels
2              Billion Btu
3  Dollars per million Btu
4         Thousand barrels
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSN          920 non-null    object
 1   Description  920 non-null    object
 2   Unit         920 non-null    object
dtypes: object(3)
memory usage: 21.7+ KB
None
          MSN                                        Description         Unit
count     920                                                920          920
unique    920                                                746           30
top     ABICB  Aviation gasoline blending components consumed...  Billion Btu
freq        1                                                  2          334

In [6]:
# Merge
df_usage = pd.merge(df_euse, df_msn_codes, on="MSN", how="left")

In [7]:
df_usage.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2016,2017,2018,2019,2020,2021,2022,2023,Description,Unit
0,2023F,AK,ABICB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-3.0,-2.0,-14.0,-10.0,-7.0,-8.0,-6.0,-6.0,Aviation gasoline blending components consumed...,Billion Btu
1,2023F,AK,ARICB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,12365.0,13561.0,4804.0,11973.0,12391.0,13425.0,12981.0,13173.0,Asphalt and road oil consumed by the industria...,Billion Btu
2,2023F,AK,ARTCB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,12365.0,13561.0,4804.0,11973.0,12391.0,13425.0,12981.0,13173.0,Asphalt and road oil total consumption,Billion Btu
3,2023F,AK,ARTXB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,12365.0,13561.0,4804.0,11973.0,12391.0,13425.0,12981.0,13173.0,Asphalt and road oil total end-use consumption,Billion Btu
4,2023F,AK,AVACB,5209.0,6441.0,5202.0,3273.0,2319.0,1478.0,1086.0,...,1240.0,1239.0,1264.0,1245.0,915.0,1037.0,1073.0,1019.0,Aviation gasoline consumed by the transportati...,Billion Btu

In [8]:
#import to top mb

# === Load Data ===
energy_df = df_euse

# === Melt the wide format to long format (years as rows) ===
value_vars = [col for col in energy_df.columns if col.isdigit()]
melted = pd.melt(
    energy_df,
    id_vars=["MSN", "State"],
    value_vars=value_vars,
    var_name="Year",
    value_name="Data"
)

# === Convert data types ===
melted["Year"] = melted["Year"].astype(int)
melted["Data"] = pd.to_numeric(melted["Data"], errors="coerce")

# === Define prefixes ===
fossil_prefixes = {"NG", "CL", "CO", "PA", "PC", "DF", "JF", "FF"}
renewable_prefixes = {"HY", "WD", "WS", "SO", "GE", "WY"}

# === Filter for relevant MSN codes and classify energy types ===
melted = melted[melted["MSN"].str[:2].isin(fossil_prefixes.union(renewable_prefixes))]
melted["energy_type"] = melted["MSN"].str[:2].map(
    lambda x: "Fossil" if x in fossil_prefixes else "Renewable"
)

# === Aggregate total energy by State-Year-Type ===
agg_df = (
    melted.groupby(["State", "Year", "energy_type"])["Data"]
    .sum()
    .reset_index()
    .pivot(index=["State", "Year"], columns="energy_type", values="Data")
    .fillna(0)
    .reset_index()
)

# === Compute fossil fuel share ===
agg_df["Total"] = agg_df["Fossil"] + agg_df["Renewable"]
agg_df["fossil_share"] = agg_df["Fossil"] / agg_df["Total"]

# === Compare fossil share in 2000 vs 2019 ===
df_2000 = agg_df[agg_df["Year"] == 2000][["State", "fossil_share"]].rename(columns={"fossil_share": "fossil_share_2000"})
df_2019 = agg_df[agg_df["Year"] == 2019][["State", "fossil_share"]].rename(columns={"fossil_share": "fossil_share_2019"})
merged = pd.merge(df_2000, df_2019, on="State")

# === Compute change in fossil share and label success ===
merged["delta_fossil_share"] = merged["fossil_share_2000"] - merged["fossil_share_2019"]
median_delta = merged["delta_fossil_share"].median()
merged["Y_OUTCOME"] = (merged["delta_fossil_share"] > median_delta).astype(int)

# === Preview results ===
print(merged.head())

# === Optionally save to file ===
merged.to_csv("preprocessed_fossil_reduction_2000_2019.csv", index=False)

energy_type State  fossil_share_2000  fossil_share_2019  delta_fossil_share  \
0              AK           0.996896           0.990457            0.006439
1              AL           0.940522           0.938843            0.001679
2              AR           0.951562           0.953777           -0.002215
3              AZ           0.980454           0.975013            0.005441
4              CA           0.973189           0.958252            0.014937

energy_type  Y_OUTCOME
0                    0
1                    0
2                    0
3                    0
4                    1

In [9]:
merged

energy_type,State,fossil_share_2000,fossil_share_2019,delta_fossil_share,Y_OUTCOME
0,AK,0.996896,0.990457,0.006439,0
1,AL,0.940522,0.938843,0.001679,0
2,AR,0.951562,0.953777,-0.002215,0
3,AZ,0.980454,0.975013,0.005441,0
4,CA,0.973189,0.958252,0.014937,1
5,CO,0.992738,0.975435,0.017303,1
6,CT,0.967748,0.977812,-0.010064,0
7,DC,0.991135,0.984993,0.006142,0
8,DE,0.995219,0.993608,0.001611,0
9,FL,0.968745,0.970516,-0.001771,0
10,GA,0.957372,0.950246,0.007126,0
11,HI,0.969113,0.976686,-0.007573,0
12,IA,0.983233,0.953663,0.029570,1
13,ID,0.900157,0.897639,0.002518,0
14,IL,0.993334,0.988344,0.004990,0
15,IN,0.994865,0.986636,0.008229,1
16,KS,0.996163,0.956743,0.039420,1
17,KY,0.994278,0.982618,0.011661,1
18,LA,0.984083,0.985051,-0.000968,0
19,MA,0.977152,0.977603,-0.000451,0
20,MD,0.981482,0.982089,-0.000607,0
21,ME,0.842389,0.825522,0.016867,1
22,MI,0.981987,0.970812,0.011175,1
23,MN,0.980128,0.963796,0.016332,1
24,MO,0.995056,0.985051,0.010005,1
25,MS,0.962228,0.975867,-0.013638,0
26,MT,0.945346,0.935778,0.009568,1
27,NC,0.970926,0.960120,0.010806,1
28,ND,0.991360,0.965419,0.025941,1
29,NE,0.990356,0.974836,0.015520,1
30,NH,0.948975,0.916971,0.032003,1
31,NJ,0.990899,0.990220,0.000679,0
32,NM,0.995609,0.969452,0.026157,1
33,NV,0.984626,0.965989,0.018637,1
34,NY,0.963405,0.964841,-0.001437,0
35,OH,0.989672,0.988936,0.000735,0
36,OK,0.989222,0.954281,0.034942,1
37,OR,0.891751,0.872381,0.019370,1
38,PA,0.987197,0.980028,0.007169,0
39,RI,0.989171,0.983345,0.005827,0
40,SC,0.963445,0.947816,0.015629,1
41,SD,0.954351,0.927978,0.026373,1
42,TN,0.978665,0.970228,0.008438,1
43,TX,0.996411,0.984797,0.011613,1
44,US,0.978254,0.969590,0.008664,1
45,UT,0.994392,0.986312,0.008080,0
46,VA,0.970146,0.968946,0.001201,0
47,VT,0.949012,0.883548,0.065463,1
48,WA,0.889395,0.887067,0.002329,0
49,WI,0.968496,0.961379,0.007117,0
50,WV,0.995706,0.987767,0.007939,0
51,WY,0.995340,0.983124,0.012216,1

In [10]:
agg_df

energy_type State  Year     Fossil  Renewable      Total  fossil_share
0              AK  1960   299632.2     9339.0   308971.2      0.969774
1              AK  1961   355776.0    10321.0   366097.0      0.971808
2              AK  1962   391960.0    10564.0   402524.0      0.973756
3              AK  1963   399362.2    10985.0   410347.2      0.973230
4              AK  1964   420770.9    11656.0   432426.9      0.973045
...           ...   ...        ...        ...        ...           ...
3323           WY  2019  2907712.5    49914.0  2957626.5      0.983124
3324           WY  2020  2704450.1    54141.8  2758591.9      0.980373
3325           WY  2021  2688048.9    72887.9  2760936.8      0.973600
3326           WY  2022  2767250.2    82465.1  2849715.3      0.971062
3327           WY  2023  2707866.2    75412.9  2783279.1      0.972905

[3328 rows x 6 columns]

In [11]:
agg_df = agg_df[agg_df['Year'] >= 2000]
agg_df = agg_df[agg_df['Year'] <= 2019]

In [13]:
agg_df = agg_df[agg_df['State'] != "US"]
agg_df = agg_df[agg_df['State'] != "DC"]

In [14]:
agg_df

energy_type State  Year     Fossil  Renewable      Total  fossil_share
40             AK  2000  3497341.0    10891.0  3508232.0      0.996896
41             AK  2001  3438696.1    15393.0  3454089.1      0.995544
42             AK  2002  3425115.5    16466.0  3441581.5      0.995216
43             AK  2003  3445911.9    17590.0  3463501.9      0.994921
44             AK  2004  3744150.3    17134.0  3761284.3      0.995445
...           ...   ...        ...        ...        ...           ...
3319           WY  2015  2959612.6    44722.5  3004335.1      0.985114
3320           WY  2016  2865241.5    48700.1  2913941.6      0.983287
3321           WY  2017  2983055.2    50626.2  3033681.4      0.983312
3322           WY  2018  3087247.3    47750.1  3134997.4      0.984769
3323           WY  2019  2907712.5    49914.0  2957626.5      0.983124

[1000 rows x 6 columns]

In [16]:
if colab == 1:
    # Export to CSV (save to Google Drive)
    agg_df.to_csv('/content/drive/My Drive/capstone_data_cleaned/df_eusage.csv', index=False)
elif colab == 0:
    agg_df.to_csv('capstone_data_cleaned/df_eusage.csv', index=False)